/****************************************body****************************/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f3f3f3;
}

main {
  flex: 1 0 auto;
}
header{
  position: relative;
}
/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*************************************** header**************************/
.simplon-nav{
  position: absolute;
  font-size: 2em;
  color: white;
  top:3.5vh;
  right: 10px;
  z-index: 222;
  display: none;
}
.slider {
  height: 90vh !important;
}
.logo-text{
  margin-bottom:-10px;
  width: 100px;
  height:72px;
  animation: round 0.7s linear 1s infinite;
}

@keyframes round {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.simplon{
  position: absolute;
  z-index: 50;
  font-size: 5em;
  font-weight: bolder;
  letter-spacing: 10px;
  top: 0;
  right: 0;
}
 .simplon {
  color: #e80041;
  text-shadow: 1px 1px 1px #35345b ;
}

h3, h5{
  border-radius: 20px;
  color:#e80041;
  text-shadow: 2px 2px 1px white;
}
.slider .indicators .indicator-item.active {
  background-color: #35345b !important;
}
/**************************************nav*******************************/

.nav-wrapper, nav {
  margin-top: 90vh;
  height: 10vh !important;
}

.nav-wrapper img {
  width: 100px;
  height: 80px;
  margin-top: 10px;
}

.right a {
  line-height: 10vh;
  text-shadow: 2px 2px 1px #000;
}
.right a:hover{
  background-color: #e80041;
  color:#f3f3f3;
}
.right a:focus{
  background-color: #e80041;
  color:#f3f3f3;
}
}
.right {
  margin-right: 30px;
}

/**********************************nav burger****************************/

ul#mobile-demo.sidenav{
  background:linear-gradient(120deg, #35345b,#f3f3f3);
}
ul#mobile-demo.sidenav a{
  color: #f3f3f3;
}
ul#mobile-demo.sidenav a:hover,ul#mobile-demo.sidenav a:focus{
  background:linear-gradient(40deg, #e80041,#f3f3f3);
  border: 1px solid rgba(0,0,0,0.5);
}

/**************************************main******************************/


h2,h4{
  color: white;
  text-shadow: 3px 2px 1px #35345b;
  position: absolute;
  left: 0;
  right: 0;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  bottom: 30px;
}

h4 {
  font-size: 1em;
  margin: 0;
  top: 15px;
}

.fa-comment, .fa-user-graduate, .fa-hands-helping, .fa-user {
  font-size: 2em;
  margin-top: 15vh;
  text-shadow: 3px 5px 5px #35345b;
}


.title{
  position: relative;
  margin: auto;
  margin-top: 25px;
  border-radius: 15px;
  width: 230px;
  height: 150px;
  background-color: rgba(53,52,91,0.6);
}
/**************************main****************************************/
/*************************background*********************************/
.row {
  text-align: center;
  color: #f3f3f3;
  text-shadow: 2px 1px 1px white;
}
.row1, .row2,.row3,.row4{
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
}
html{
  scroll-behavior: smooth;
}
.row1-cover, .row2-cover, .row3-cover, .row4-cover{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
#row1{
  position: relative;
  background-image: url("../img/image1.jpg");
  background-position: center;
  background-size: cover;
}

.row1-cover{
  background: linear-gradient( #e80041, #35345b  );
  mix-blend-mode:color;
  filter:brightness(1.75);
}

#row2{
  position: relative;
  background-image: url("../img/image2.jpg");
  background-position: center;
  background-size: cover;
}
.row2-cover{
  background: repeating-linear-gradient(40deg, #35345b, #35345b 20px, #e80041 200px, #e80041 200px);
  mix-blend-mode:color;
  filter: sepia();
}
#row3{
  position: relative;
  background-image: url("../img/image3.jpg");
  background-position: center;
  background-size: cover;
}
.row3-cover{
  background: linear-gradient(  #e80041, #35345b);
  mix-blend-mode:soft-light;
  filter:brightness(1.50);
}
#row4 {
  position: relative;
  background-image: url("../img/image4.jpg");
  background-position: center;
  background-size: cover;
}
.row4-cover{
  background: repeating-linear-gradient(40deg, #35345b, #35345b 20px, #e80041 10px, #e80041 50px);
  mix-blend-mode:difference;
  filter: opacity(0.4);
}


#row1, #row2,#row3,#row4{
  transition: 0.7s ease-in;
}






/*********************************************************************/
.smooth{
  position: absolute;
  border-radius:50px;
  font-size: 2em;
  padding: 10px;
  background-color: #1a237e;
  z-index: 50;
  left: 2vh;
  bottom: 15vh;
  display: none;
}
.row a{
  text-decoration: none;
  color: white;
}
.row p {
  text-align: justify;
}

.row .col {
  height: 80vh;
  border: 2px solid #35345b;
}

.fixed-action-btn {
  position: absolute !important;
  top: 35vh !important;
  right:2vh !important;
}

 .button{
  width: 120px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 15px;
  margin: auto;
  margin-top: 10vh;
  background-color: #f3f3f3;
}
.button a{
  line-height: 40px;
  color: black;
  font-weight: bold;
}
.button:hover{
  background-color: #e80041;
  background: linear-gradient(140deg,#f3f3f3, #e80041, #35345b);
}

/*************************************link*******************************/

.btn-floating, .smooth{
  border: 1px solid black;
  box-shadow: 3px 2px 5px black;
}
/*************************************footer*****************************/

footer {
  height: 10vh;
  bottom: 0;
}

.container p {
  line-height: 60px;
  text-align: center;

}
.container a{
  color:black;
  margin-left: 15px;
  margin-right: 15px;
}
.container a:hover{

  text-decoration: underline;
  text-decoration-color: #e80041;
  text-decoration-style:double;
}
