*{
  margin:0;
  padding:0;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
  height: 400px;
 }
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
h2{
  font-size: 2em;
  font-weight: bold;
}

.nav-wrapper, nav{
  margin-top: 500px;
  height: 100px !important;
}

.nav-wrapper img{
  width: 100px;
  height: 80px;
  margin-top: 10px;
}

.row{
  text-align: center;
}
.row p{
  text-align: justify;
}
.row .col{
  height: 400px;
  flex-wrap: wrap;
}
.row .col, footer{
  border:2px solid #35345b;
}
footer{
  height: 60px ;
}
.slider{
  height: 500px !important;
}
.right a{
  line-height: 100px;
}
.right{
margin-right:  30px;
}
.container p{
  line-height: 60px;
  text-align: center;
}
